.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
}

.col {
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 0 15px;
}
  
@include col-generator('xs');
@include mq_min($xs) { @include col-generator('sm'); }
@include mq_min($sm) { @include col-generator('md'); }
@include mq_min($md) { @include col-generator('lg'); }
@include mq_min($lg) { @include col-generator('xlg'); }