$bg-body: #2B2D2E;
$bg-stamp: #FFFFFF;

$stamp-colors: (
  1: #ffb8a9,
  2: #89dcff,
  3: #95e986,
  4: #ffb9ec,
  5: #ffcd51,
  6: #d7e0fd,
  7: #cfc5ff,
);


$xs: 500px;
$sm: 800px;
$md: 1050px;
$lg: 1400px;
$xlg: 1900px;